body {
  background-color: bisque;
  height: 100vh;
}

/* CONTAINER */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* ASIDE */

.aside {
  padding: 2rem;
  background-color: rgb(70, 131, 180);
  
  height: 100vh;
  position: sticky;
  top: 0;
  margin-top: auto;

  display: flex;
  flex-direction: column;
}

/* LOGO */



/* CATEGORIES BUTTON */

.buttons__container {
  width: 100%;
  margin: 1rem 0;
}

.buttons {
  width: 100%;
  /* min-height: 500px; */
  height: 500px;
  /* max-height: 960px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  overflow-y: scroll;
}

.buttons__categories {
  cursor: pointer;
  border: none;
  background-color: #AECFA4;
  padding: 0.4rem 0.8rem;
  border: 1px solid black;
}
.buttons__categories.active {
  background-color: #46A094;
}

/* SECTION PRODUCTS */

.main {
  width: 100%;

}