:root {
  --tonys-pink: #e5958e;
  --rose-bud: #fdb095;
  --sapphire: #210440;
  --tangerine: #ffba00;
  --white: #ffffff;

  --windsor: #3c2973;
  --lavender: #b6bbf9;
  --peach: #fbc99a;
  --wisteria: #d586d7;
  --pig: #fcdde8;
}

body {
  background-color: var(--white);
  height: 100vh;
}

/* CONTAINER */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* ASIDE */

.aside {
  color: var(--windsor);
  padding: 2rem;
  background-color: var(--lavender);
  
  height: 100vh;
  position: sticky;
  top: 0;
  margin-top: auto;

  display: flex;
  flex-direction: column;
}

/* LOGO */



/* CATEGORIES BUTTON */

.buttons__container {
  width: 100%;
  margin: 1rem 0;
}

.buttons {
  width: 100%;
  /* min-height: 500px; */
  height: 500px;
  /* max-height: 960px; */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1rem;
  padding-right: 8px;

  overflow-y: scroll;
}

.buttons__categories {
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: var(--windsor);
  padding: 0.6rem 0.8rem;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.buttons__categories.active {
  background-color: #46A094;
}
.buttons__categories:hover {
  border: 2px solid var(--windsor);
  color: var(--windsor);
  background-color: var(--lavender);
  font-weight: bold;
}

/* SECTION PRODUCTS */

.main {
  width: 100%;

}