@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --windsor: #342a55;
  --lavender: #b6bbf9;
  --peach: #fbc99a;
  --wisteria: #d586d7;
  --pig: #fcdde8;
  --red: #cc0c39;
  --white: #ffffff;
}

body {
  height: 100vh;
  background-color: var(--lavender);
}

.wrapper {
  background-color: var(--lavender);
  height: 100vh;
  max-width: 1536px;
  margin: 0 auto;
  position: relative;
}

/* CART BUTTON */

.bag__button {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  margin: 3rem 3rem 0 0;
  color: var(--windsor);
  font-size: 2.5rem;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
.bag__button:hover {
  background-color: var(--pig);
}
.bag__button .notification {
  position: absolute;
  top: -8px;
  right: -4px;
  font-size: 0.9rem;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  line-height: 23px;
  background-color: var(--lavender);
  color: var(--windsor);
}
.bag__button:hover .notification {
  outline: 3px solid var(--pig);
}

/* CONTAINER */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* ASIDE */

.aside {
  color: var(--windsor);
  padding: 2rem;
  background-color: var(--lavender);
  
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: auto;

  display: flex;
  flex-direction: column;
}

/* OPEN-CATEGORIES MENU */
.open-categories {
  display: none;
  pointer-events: none;
  color: var(--windsor);
}

/* LOGO */

.logo {
  margin: 0;
  margin-top: 1rem;
}

/* CATEGORIES BUTTON */

.buttons__container {
  width: 100%;
  margin: 3rem 0 1rem;
  max-height: 500px;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 1rem;
  padding-right: 8px;

  overflow-y: auto;
}

.buttons__categories {
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  transition: all 0.3s linear;
  text-align: start;
  position: relative;
  padding: 0.4rem 0;
  background: none;
}
.buttons__categories::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 1rem;
  background-color: #342a5530;
  bottom: -1px;
  transition: all 0.3s linear;
}
.buttons__categories:hover::after,
.buttons__categories--active::after {
  width: 100%;
}
.buttons__categories:hover,
.buttons__categories--active {
  color: var(--windsor);
}

/* SECTION PRODUCTS */

.main {
  width: 100%;
  padding: 3.5rem 0;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-size: 2rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  color: var(--windsor);
}

.main__empty--div {
  text-align: center;
  margin-top: 4rem;
  display: none;
}
.empty__img {
  width: 100%;
  max-width: 350px;
}
.empty__p {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: var(--windsor);
}
.main__empty--div.active {
  display: block;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 8rem 0 5rem;
}

/* CARD */
.card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 7px;
  display: grid;
  grid-template-rows: 200px 1fr;
  gap: 8px;
  background-color: var(--white);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__texts {
  display: grid;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.193);
}

.card__prev-price {
  margin-top: 0.5rem;
  text-decoration: line-through;
  font-size: 14px;
}

.card__prices {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.8rem 0 1.2rem;
}

.price__act {
  font-size: 1.4rem;
  font-weight: 500;
}

.price__discount {
  border: 1px solid var(--red);
  font-size: 0.8rem;
  color: var(--red);
  background-color: var(--white);
  padding: 2px 4px;
  border-radius: 2px;
}

.card__btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--windsor);
  color: var(--white);
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
}
.card__btn:hover {
  opacity: 0.9;
  z-index: 1;
}

/* CART.HTML */

.home-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--windsor);
}
.home-btn i {
  margin-top: 1rem;
  font-size: 20px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1rem;
}

.info__group {
  display: flex;
  justify-content: space-between;
}

.info__group span {
  font-weight: 600;
}

.info__btn {
  width: 100%;
  color: var(--white);
  cursor: pointer;
  border: none;
  padding: 0.6rem 0.8rem;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--windsor);
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.info__btn:hover {
  background-color: var(--pig);
  color: var(--windsor);
  font-weight: 600;
  border: 2px solid var(--pig);
}
.info__btn:nth-child(5) {
  margin-top: 1rem;
}
#emptyBtn {
  background-color: var(--lavender);
  color: var(--windsor);
  border: 2px solid var(--windsor);
}
.info__group--last {
  border-top: 2px solid #342a5574;
}
#payBtn {
  margin-top: 1rem;
}
.info__btn.disabled {
  cursor: not-allowed;
  background-color: #97969752;
  color: #ffffff7a;
  border: none;
}
.info__btn.disabled:hover {
  background: #97969752;
  color: #ffffff7a;
  font-weight: 500;
  border: none;
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 8rem 0 5rem;
}

/* CART CARDS */

.cart__card {
  border-radius: 6px;
  display: grid;
  grid-template-columns: 260px 1fr;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--white);
}

.cart__picture {
  max-width: 260px;
  height: 100%;
  max-height: 280px;
}

.cart__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  display: block;
}

.cart__texts {
  padding: 2rem;
}

.cart__title {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
}

.cart__description {
  margin-bottom: 1rem;
}

.cart__unitariPrice {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
/* .cart__amount,
.cart__totalPrice {
  font-size: 1.1rem;
} */

.delete__btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0;
  color: var(--red);
  background: none;
  font-size: 0.9rem;
}
.delete__btn:hover {
  text-decoration: underline;
}

/* NO-SCROLL */
.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}